In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling (2).csv

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
dataset = dataset.drop(columns = ['RowNumber','CustomerId','Surname'])

In [7]:
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
dataset = pd.get_dummies(data=dataset,drop_first = True)
dataset.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [9]:
x = dataset.drop(columns = ['Exited']).iloc[:,:].values
y = dataset['Exited'].iloc[:].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =  train_test_split(x,y,test_size=0.2,random_state=0)
x_train.shape

(8000, 11)

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [56]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation,Dense
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import binary_crossentropy

In [57]:
model = Sequential([
    Dense(units=10,input_shape=(11,),activation = 'relu'),
    Dense(units=6,activation = 'relu'),
    Dense(units=1,activation = 'sigmoid'),
])

In [58]:
model.compile(optimizer= Adam(learning_rate = 0.005) ,loss = 'binary_crossentropy',metrics = 'accuracy')

In [59]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 10)                120

 dense_10 (Dense)            (None, 6)                 66

 dense_11 (Dense)            (None, 1)                 7

=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________

In [60]:
model.fit(x_train,y_train,epochs = 20)

Epoch 1/20
250/250 [==============================] - 1s 2ms/step - loss: 0.4552 - accuracy: 0.7966
Epoch 2/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3881 - accuracy: 0.8357
Epoch 3/20
250/250 [==============================] - 1s 2ms/step - loss: 0.3590 - accuracy: 0.8466
Epoch 4/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8572
Epoch 5/20
250/250 [==============================] - 1s 5ms/step - loss: 0.3451 - accuracy: 0.8558
Epoch 6/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3420 - accuracy: 0.8597
Epoch 7/20
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8618
Epoch 8/20
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8602
Epoch 9/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8605
Epoch 10/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8587
Epoch 11/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 12/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8624
Epoch 13/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8615
Epoch 14/20
250/250 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8626
Epoch 15/20
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8626
Epoch 16/20
250/250 [==============================] - 1s 3ms/step - loss: 0.3337 - accuracy: 0.8650
Epoch 17/20
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8615
Epoch 18/20
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8655
Epoch 19/20
250/250 [==============================] - 1s 3ms/step - loss: 0.3313 - accuracy: 0.8656
Epoch 20/20
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8633

In [61]:
test_loss,test_acc = model.evaluate(x_test,y_test)

63/63 [==============================] - 0s 2ms/step - loss: 0.3348 - accuracy: 0.8610

In [62]:
y_pred = (model.predict(x_test) > 0.5).astype("int32")
y_pred

63/63 [==============================] - 0s 2ms/step

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=int32)

In [63]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [64]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[1520,   75],
       [ 203,  202]])

In [66]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.861